<div class="row">
  <!-- <div class="col-lg-2 col-sm-1">Left Side</div> -->
  <div class="col-lg-8 col-sm-10 span8 offset3">
    <div class="page-header">
    <h1>Applying for a work permit?</h1>
    </div>
  
    <div class="hero-unit">
    <h3>The following students do NOT need work permits:</h3>
      <ul>
        <li>Those who have graduated from high school, regardless of age</li>
        <li>Those who have passed the California High School Proficiency Examination</li>
        <li>Those who are 18 years of age or older</li>
      </ul>
    </div>
<!--     <h3>To apply, please enter your date of birth or %= link_to "sign in", new_minor_session_path %> to continue</h3> -->
  </div>
  <!-- <div class="col-lg-2 col-sm-1">Right Side</div> -->
</div>

<div class="row">
<!-- <div class="container"> -->
  <div class="col-lg-4 col-sm-1"></div>
  <div class="col-lg-4 col-sm-10 span8 offset3">

  <%= link_to 'Apply for work form', new_minor_registration_path, class: 'btn btn-warning btn-block' %>
  </div>
  <div class="col-lg-4 col-sm-1"></div>
<!-- </div> -->
</div>