<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @employer.business_name %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
