// body { padding-top: 50px;}
.center-it
{
  text-align: center;
}

.hero-unit
{
  padding-top: 1em;
}
.work-permit
{
  margin-bottom: 1em;
}
.three-students
{
  opacity: .7;
}

.work-submit
{
  margin-bottom: 2em;
}

.friends
{
  width: 100%;
  height: 8em;
    border-radius: 2px;
    box-shadow: 2px 4px 5px #000000;
    opacity: .5;
    margin-top: 1em;
}